*{
    align-items: center;
    justify-content: center;
}

.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

h1{
    text-align: center;
}

.text1 {
    color: #0864b4;
}

.text2{
    text-align: center;
}

.date {
    width: 50px;
}

.btnDiv {
    padding-top: 23px;
    margin: 0px;
}

.btn-class{
    background-color: transparent;
    border-style:solid;
    border-color:  #0864b4 ;
    border-radius: 30%;
}

.btn-send {
    width: 30px;
    height: 30px;
}

.centrar2{
    align-items: end;
    padding: 0;
    margin: 0;
}

.numerosF{
    color: rgb(158, 76, 235);
    font-size: 70px;
} 

.letrasF{
    font-size: 50px;
    margin: 0;
}